body {
    padding: 20px;
    background-color: hsla(247, 19%, 17%, 1);

    background-image: radial-gradient(at 30% 43%, hsla(189, 66%, 21%, 0.7) 0px, transparent 50%),
        radial-gradient(at 69% 62%, hsla(353, 35%, 25%, 0.65) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 10px;
    color: aliceblue;

}
h2 {
    margin: 10px;
    color: aliceblue;

}
.contents{
    padding: 20px;
}

.testingstyle {
    padding: 20px;
}

.bgclkr{
    border: 2px red ;
}

.item_container{
    padding: 20px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-color: rgba(195, 195, 195, 0.05);
    border-radius: 20px;
    
}

.nav-link{
    color: white;
}
.nav-link.active{
    background-color:none; 
    border-color:none;
    border-bottom: 3px solid #04ADBF;
    }

/* table style */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #918f8f;
}

/* end of table style */
